.main__landingPage__container{
    height: calc(100vh - 8rem);
}

.container__info{
    width: 80%;
    font-family: var(--font-heading);
    font-weight: bolder;
    font-size: 7rem;
}

.crossIt{
    text-decoration: line-through;
}