/* ----------------------------------------------------------------color container */


.colorPalette{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid black;
    background-color: whitesmoke;
    cursor: pointer;
}

.colorPaletteModal{
    top: -9rem;
    left: -9rem;
    width: 20rem;
    height: 8rem;
    flex-wrap: wrap;
    overflow: auto;
    background-color: white;
    border: .1rem solid var(--dark);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    z-index: 4;
}

.colorPaletteModal .colorElement{
    width: 2.4rem;
    height: 2.4rem;
    margin: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 200ms;
    border: .1rem solid var(--darker);
}

.colorPaletteModal .colorElement:hover{
    transform: scale(1.1);
}

.colorPaletteOverlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
}