

/* ----------------------------------------------------------------label container */

.note__label__container{
    width: 100%;
    flex-wrap: wrap;
}

.note__label__container .label__note{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-heading);
    border: .1rem solid var(--dark);
    padding: .5rem 1rem;
    margin: .5rem 1rem .5rem 0;
    cursor: pointer;
}

.label__selector__modal{
    background-color: white;
    left: 4rem;
    width: 15rem;
    height: 20rem;
    border: 1px solid var(--dark);
    z-index:1;
}

.label__selector__modal input{
    border-radius: 0;
}

.label__selector__modal .labels__container{
    overflow-y: scroll;
    height: 15rem;
}

.label__name{
    align-items: center;
    font-size: 1.5rem;
}

.label__name input{
    height: 2rem;
    width: 2rem;
}

.label__selector__overlay{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    cursor: pointer;
}


