.container__notes__body{
    width: 100%;
}

.container__notes__body_inner{
    width:90%;
}

.notes__container__heading{
    border-bottom: 1px solid black;
    position: sticky;
    top: 8rem;
    background-color: var(--theme-light);
    z-index: 2;
}

.notes__container__heading button {
    margin-left: auto;
}


.notes__body__heading{
    font-size: 4rem;
    font-family: var(--font-heading);
}

.container__notes__area{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}