.container__main__notes{
    overflow: auto;
}

.container__notes__body{
    width: 100%;
}

.container__notes__body_inner{
    width:90%
}

.notes__container__heading{
    border-bottom: 1px solid black;
}

.notes__container__heading button {
    margin-left: auto;
}


.notes__body__heading{
    font-size: 5rem;
}

