

/* ------------------------------------------------------------------- addNote Modal */


.container__overlay__addNote{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: auto;
}

.container__add__note{
    background-color: white;
    width: 60%;
    border-radius: 1rem;
    z-index: 2; 
}

.container__add__note__inner{
    width: 80%;
}

.add__note__title{
    width: 100%;
    font-size: 3.5rem;
    font-family: var(--font-heading);
    font-weight: bold;
    border-bottom: 1px solid black;
}

.input__title{
    border-radius: 0;
}


.add__notes__actions__container{
    width: 100%;
}

.notes__action__container{
    justify-content: space-between;
    width: 40%;
}


.icon__notes__action{
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
    transition: 360ms;
}

.icon__notes__action:hover{
    background-color: var(--dark);
}



.actions__btn__container{
    margin-left: auto;
}

.actions__btn__container button{
    font-size: 1.6rem;
}

.overlay__notes__invisible{
    width: 100%;
    height: 100%;
    filter: blur(9px);
    background-color: rgba(0, 0, 0, 0.208);
    z-index: 1;
}

.quill{
    width: 100%;
    border-radius: 10px;

}

.ql-editor{
    font-size: 2rem;
    height: 15rem;
    font-family: var(--font-heading);
}

