

/* ------------------------------------------------------------------- addNote Modal */


.container__overlay__addNote{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
}

.container__add__note{
    background-color: white;
    width: 60%;
    border-radius: 1rem;
    z-index: 2; 
}

.container__add__note__inner{
    width: 80%;
}

.add__note__title{
    width: 100%;
    font-size: 3.5rem;
    font-family: var(--font-heading);
    font-weight: bold;
    border-bottom: 1px solid black;
}

.input__title{
    border-radius: 0;
}


.add__notes__actions__container{
    width: 100%;
}

.notes__action__container{
    justify-content: space-between;
    width: 40%;
}


.icon__notes__action{
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
    transition: 360ms;
}

.icon__notes__action:hover{
    background-color: var(--dark);
}



.actions__btn__container{
    margin-left: auto;
}

.actions__btn__container button{
    font-size: 1.6rem;
}

.overlay__notes__invisible{
    width: 100%;
    height: 100%;
    filter: blur(9px);
    background-color: rgba(0, 0, 0, 0.208);
    z-index: 1;
}

.quill{
    width: 100%;
    border-radius: 10px;

}

.ql-editor{
    font-size: 2rem;
    height: 15rem;
    font-family: var(--font-heading);
}



/* ----------------------------------------------------------------label container */

.note__label__container{
    width: 100%;
    flex-wrap: wrap;
}

.note__label__container .label__note{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-heading);
    border: .1rem solid var(--dark);
    padding: .5rem 1rem;
    margin: .5rem 1rem .5rem 0;
    cursor: pointer;
}

.label__selector__modal{
    background-color: white;
    left: 4rem;
    width: 15rem;
    height: 20rem;
    border: 1px solid var(--dark);
    z-index:1;
}

.label__selector__modal input{
    border-radius: 0;
}

.label__selector__modal .labels__container{
    overflow-y: scroll;
    height: 15rem;
}

.label__name{
    align-items: center;
    font-size: 1.5rem;
}

.label__name input{
    height: 2rem;
    width: 2rem;
}

.label__selector__overlay{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    cursor: pointer;
}



/* ----------------------------------------------------------------priority container */

.note__priority__container{
    width: 100%;
    font-size: 2rem;
}

.priority__value{
    margin: 0 1rem;
    padding: .5rem 1rem;
    font-weight: bold;
    border: .1rem solid var(--dark);
    cursor: pointer;
}

.container__prioritySelecotr{
    top: 0;
    right: -10rem;
    background-color: white;
    z-index: 1;
    border: .1rem solid var(--dark);
}

.prioritySelector__modal{
    width: 10rem;
    padding: 1rem 0;
}

.prioritySelector__modal input{
    height: 2rem;
    width: 2rem;
    margin: .5rem 1rem;
}

.prioritySelector__modal label{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-heading);
}

.priority__input__container{
    display: flex;
    align-items: center;
}

.prioritySelector__overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: -1;
}

