/* -----------------------------------------------------Label */

.container__overlay__label{
    bottom: -15rem;
    background-color: white;
    left: 0;
    border: 1px solid var(--dark);
    width: 15rem;
    height: 14rem;
    overflow: scroll;
    z-index:2;
    padding: .5rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


.label__item input{
    height: 1.5rem;
    width: 1.5rem;
}

.label__item label{
    font-size: 1.5rem;
    background-color: white;
}



.invisible___overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index:-1;
}