
/* ----------------------------------------------------------------priority container */

.note__priority__container{
    width: 100%;
    font-size: 2rem;
}

.priority__value{
    margin: 0 1rem;
    padding: .5rem 1rem;
    font-weight: bold;
}

.container__prioritySelecotr{
    top: 0;
    right: -10rem;
    background-color: white;
    z-index: 1;
    border: .1rem solid var(--dark);
}

.prioritySelector__modal{
    width: 10rem;
    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.prioritySelector__modal input{
    height: 2rem;
    width: 2rem;
    margin: .5rem 1rem;
}

.prioritySelector__modal label{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-heading);
}

.priority__input__container{
    display: flex;
    align-items: center;
}

.prioritySelector__overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: -1;
}

